<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NLog" version="4.7.13" targetFramework="net472" />
  <package id="Prism.Core" version="8.1.97" targetFramework="net472" />
  <package id="Prism.Unity" version="8.1.97" targetFramework="net472" />
  <package id="Prism.Wpf" version="8.1.97" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unity.Abstractions" version="5.11.7" targetFramework="net472" />
  <package id="Unity.Container" version="5.11.11" targetFramework="net472" />
  <package id="Vanara.Core" version="3.3.15" targetFramework="net472" />
  <package id="Vanara.PInvoke.ComCtl32" version="3.3.15" targetFramework="net472" />
  <package id="Vanara.PInvoke.Cryptography" version="3.3.15" targetFramework="net472" />
  <package id="Vanara.PInvoke.Gdi32" version="3.3.15" targetFramework="net472" />
  <package id="Vanara.PInvoke.Kernel32" version="3.3.15" targetFramework="net472" />
  <package id="Vanara.PInvoke.Ole" version="3.3.15" targetFramework="net472" />
  <package id="Vanara.PInvoke.Rpc" version="3.3.15" targetFramework="net472" />
  <package id="Vanara.PInvoke.Security" version="3.3.15" targetFramework="net472" />
  <package id="Vanara.PInvoke.Shared" version="3.3.15" targetFramework="net472" />
  <package id="Vanara.PInvoke.Shell32" version="3.3.15" targetFramework="net472" />
  <package id="Vanara.PInvoke.ShlwApi" version="3.3.15" targetFramework="net472" />
  <package id="Vanara.PInvoke.User32" version="3.3.15" targetFramework="net472" />
</packages>